<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd"
       default-autowire="byName">




    <bean id="employeeDao" class="ua.goit.restaurant.dao.hibernate.EmployeeDaoHiber"/>
    <bean id="employeeService" class="ua.goit.restaurant.service.impl.EmployeeServiceImpl"/>

    <bean id="dishDao" class="ua.goit.restaurant.dao.hibernate.DishDaoHiber"/>
    <bean id="dishService" class="ua.goit.restaurant.service.impl.DishServiceImpl"/>

    <bean id="menuDao" class="ua.goit.restaurant.dao.hibernate.MenuDaoHiber"/>
    <bean id="menuService" class="ua.goit.restaurant.service.impl.MenuServiceImpl"/>

    <bean id="orderDao" class="ua.goit.restaurant.dao.hibernate.OrderDaoHiber"/>


    <bean id="ingredientDao" class="ua.goit.restaurant.dao.hibernate.IngredientDaoHiber"/>
    <bean id="ingredientService" class="ua.goit.restaurant.service.impl.IngredientServiceImpl"/>

    <bean id="warehouseService" class="ua.goit.restaurant.service.impl.WarehouseServiceImpl"/>
    <bean id="warehouseDao" class="ua.goit.restaurant.dao.hibernate.WarehouseDaoHiber"/>





</beans>